* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fbf7f5;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
}

img {
  max-width: 500px;
}
section {
  padding: 0px 0px 50px 0px;
}

/* Game-Page CSS */
#game-page {
  margin: auto;
  width: 100%;
  /* height: 900px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-image: url("https://assets.roguefitness.com/f_auto,q_auto,c_limit,w_1600,b_rgb:ffffff/catalog/Gear%20and%20Accessories/Gym%20Essentials%20/Flooring%20and%20Rubber/XX14367/XX14367-H_tosrl9.png");
  background-position: center;
  background-repeat: no-repeat; */
}
#game-page h1 {
  text-align: center;
}
#main {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
#prgressBbar {
  display: table-cell;
  padding-top: 10px;
}

#avatar-img {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
#avatar-img img {
  width: 250px;
  border-radius: 100px;
}

#container {
  width: 175px;
  background-color: grey;
  margin: 10px;
}

#moreCalorie {
  width: 1%;
  height: 20px;
  background-color: green;
}
#energyLvl {
  width: 1%;
  height: 20px;
  background-color: green;
}
#workoutSession {
  width: 1%;
  height: 20px;
  background-color: green;
}

.gameBtn {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 75px;
}

#bulking {
  border: none;
  padding: 10px;
  width: 150px;
}

#pre-workout {
  border: none;
  margin: 0px 30px 0px 30px;
  padding: 10px;
  width: 150px;
}

#get-fit {
  border: none;
  padding: 10px;
  width: 150px;
}

#advanceLvl {
  width: 75%;
  height: 50px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 100px;
}

#advance-bar {
  width: 1%;
  height: 100%;
  background-color: green;
  margin: 0px 20px 0px 20px;
}

/* Start Page CSS */

#start-page {
  display: none;
}

/* Lost Page CSS */
#lost-page {
  display: none;
}

/* Winning Page CSS */
#congrat-page {
  display: none;
}
