* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbf7f5;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 500px;
}

/* section {
  padding: 0px 0px 50px 0px;
} */

/* Game-Page CSS */
#game-page {
  /* margin: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  height: 100%;
}

#game-page h1 {
  text-align: center;
  font-size: 3rem;
}
#main {
  display: flex;
  justify-content: center;
  padding: 50px;
  
}
#prgressBar {
  padding-top: 20px;
/* align-content: center; */
}


#avatar-img img {
  width: 250px;
  border-radius: 100px;
}

#container {
  width: 175px;
  background-color: grey;
  margin: 10px;
  font-size: 0.5rem;
}
.prog-text{
  text-align: center;
  display: flex;
 
}

#moreCalorie {
  width: 100%;
  height: 20px;
  background-color: green;
}
#energyLvl {
  width: 100%;
  height: 20px;
  background-color: green;
  max-width: calc(100%-1em);
}
#workoutSession {
  width: 100%;
  height: 20px;
  background-color: green;
}

.gameBtn {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 75px;
}

#bulking {
  border: none;
  padding: 10px;
  width: 150px;
}

#pre-workout {
  border: none;
  margin: 0px 30px 0px 30px;
  padding: 10px;
  width: 150px;
}

#get-fit {
  border: none;
  padding: 10px;
  width: 150px;
}

#advanceLvl {
  width: 75%;
  height: 50px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 3em;
}

#advance-bar {
  width: 1%;
  height: 100%;
  background-color: green;
  margin: 0px 0px 0px 0px;
  border-radius: 3em;
}

/* Start Page CSS */

#start-page {
  display: none;
}

/* Lost Page CSS */
#lost-page {
  display: none;
}

/* Winning Page CSS */
#congrat-page {
  display: none;
}
